body {
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.bg-image {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

h2 {
  color: #ff6207;
  font-size: 28px;
}

.container {
  position: relative;
  margin: 40 auto;
  padding: 20px;
  max-width: 800px;
  z-index: 1;
}

.card {
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.9);
}

.detail-group {
  margin-bottom: 15px;
}

.text-center {
  text-align: center;
}

.cancelBtn {
  padding: 8px ;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #ccc;
  margin-left: 5px;

}


.cancelBtn:hover {
  color: #ff6207;
  background-color: transparent;}

h6 {
  font-size: 20px;

}

p, span, .badge {
  font-size: 18px;

}

.badge {
  color: white;
  padding: 5px 10px;
  border-radius: 12px;
  background-color:  #ff6207;

}

@media (max-width: 768px) {
  .container {
    margin: auto;
  }

  .card {
    padding: 15px;
  }

  body {
    font-size: 16px;
  }

  h2 {
    font-size: 24px;
  }

  h6 {
    font-size: 18px;
  }

  p, span, .badge {
    font-size: 16px;
  }

  .btn, .btn-cancel {
    width: 100%;
    margin-top: 10px;
    font-size: 16px;
  }

  .bg-image {
    width: 100%;
    height: 123vh;
  }
}
