<div class="d-flex">
  <app-sidebar></app-sidebar>
  <div class="main">
    <!-- @if(dataFlag){ -->
    <div class="profile d-flex flex-column">
      <div class="d-flex ml-5">
        <div>
          <h1>
            {{data.name?data.name:'doaa'}}
            <a href="trainee-profile/edit" class="edit-icon">
              <i class="fas fa-edit"></i>
            </a>
          </h1>

          <p><strong>Email:</strong> {{ data.email }}</p>
          <p><strong>Phone:</strong> {{ data.phone }}</p>
          <p><strong>Address:</strong> {{ data.address }}</p>
          <p><strong>Age:</strong> {{ data.age }}</p>
          <p><strong>Gender:</strong> {{ data.gender }}</p>
          <p><strong>Membership Type:</strong> {{ data.membership_type }}
            <a href="/trainee-membership" class="edit-icon">
              <i class="fas fa-edit"></i>
            </a>
          </p>
          <p><strong>Subscription:</strong> {{ data.subscription }}</p>
        </div>
        <img [src]="data.srcImg" alt="Trainee Profile Picture" class="profile-img ms-auto">
      </div>
    </div>

    <!-- }else  -->
    @if(errorMessage){
    <div class="alert alert-danger profile d-flex flex-column">
      {{errorMessage}}
    </div>
    }
  </div>
</div>