<!-- <div class="d-flex">
  <app-sidebar></app-sidebar>
  <div class="main">
    <div class="profile d-flex flex-column">
      <div class="d-flex ml-5">
        <div>
          <h1>{{ trainee[0].name }}</h1>
            <p><strong>Age:</strong> {{ trainee[0].age }}</p>
            <p><strong>Email:</strong> {{ trainee[0].email }}</p>
            <p><strong>Phone:</strong> {{ trainee[0].phone }}</p>
            <p><strong>Gender:</strong> {{ trainee[0].gender }}</p>
            <p><strong>Address:</strong> {{ trainee[0].address }}</p>
            <p><strong>Membership Type:</strong> {{ trainee[0].membership }}</p>
            <p><strong>Subscription:</strong> {{ trainee[0].subscription }}</p>
        </div>
        <img [src]="trainee[0].srcImg" alt="Trainee Profile Picture" class="profile-img ms-auto">
      </div>
      <div class="text-center">
        <a href="trainee-profile/edit" class="btn">Edit Profile</a>
      </div>
      <div class="text-center">
        <a href="trainee-profile/edit" class="btn">
          <i class="fas fa-edit"></i>
        </a>
      </div>

    </div>
  </div>
</div> -->

<!-- <div class="d-flex">
  <app-sidebar></app-sidebar>
  <div class="main">
    <div class="profile d-flex flex-column">
      <div class="d-flex ml-5">
        <div>
          <h1>{{ trainee[0].name }}</h1>

          <div class="input-group mb-3">
            <input type="number" id="age" name="age" formControlName="age" required class="form-control" placeholder="Age" [value]="trainee[0].age">
            <a href="trainee-profile/edit" class="input-group-text"><i class="fas fa-edit"></i></a>
          </div>

          <div class="input-group mb-3">
            <input type="email" id="email" name="email" formControlName="email" required class="form-control" placeholder="Email" [value]="trainee[0].email">
            <a href="trainee-profile/edit" class="input-group-text"><i class="fas fa-edit"></i></a>
          </div>

          <div class="input-group mb-3">
            <input type="text" id="phone" name="phone" formControlName="phone" required class="form-control" placeholder="Phone" [value]="trainee[0].phone">
            <a href="trainee-profile/edit" class="input-group-text"><i class="fas fa-edit"></i></a>
          </div>

          <div class="input-group mb-3">
            <input type="text" id="gender" name="gender" formControlName="gender" required class="form-control" placeholder="Gender" [value]="trainee[0].gender">
            <a href="trainee-profile/edit" class="input-group-text"><i class="fas fa-edit"></i></a>
          </div>

          <div class="input-group mb-3">
            <input type="text" id="address" name="address" formControlName="address" required class="form-control" placeholder="Address" [value]="trainee[0].address">
            <a href="trainee-profile/edit" class="input-group-text"><i class="fas fa-edit"></i></a>
          </div>

          <div class="input-group mb-3">
            <input type="text" id="membership" name="membership" formControlName="membership" required class="form-control" placeholder="Membership Type" [value]="trainee[0].membership">
            <a href="trainee-profile/edit" class="input-group-text"><i class="fas fa-edit"></i></a>
          </div>

          <div class="input-group mb-3">
            <input type="text" id="subscription" name="subscription" formControlName="subscription" required class="form-control" placeholder="Subscription" [value]="trainee[0].subscription">
            <a href="trainee-profile/edit" class="input-group-text"><i class="fas fa-edit"></i></a>
          </div>

        </div>
        <img [src]="trainee[0].srcImg" alt="Trainee Profile Picture" class="profile-img ms-auto">
      </div>
    </div>
  </div>
</div> -->

<div class="d-flex">
  <app-sidebar></app-sidebar>
  <div class="main">
    <div class="profile d-flex flex-column">
      <div class="d-flex ml-5">
        <div>
          <h1>
            {{ trainee[0].name }}
            <a href="trainee-profile/edit" class="edit-icon">
              <i class="fas fa-edit"></i>
            </a>
          </h1>

          <p><strong>Age:</strong> {{ trainee[0].age }}</p>
          <p><strong>Email:</strong> {{ trainee[0].email }}</p>
          <p><strong>Phone:</strong> {{ trainee[0].phone }}</p>
          <p><strong>Gender:</strong> {{ trainee[0].gender }}</p>
          <p><strong>Address:</strong> {{ trainee[0].address }}</p>
          <p><strong>Membership Type:</strong> {{ trainee[0].membership }}
            <a href="/trainee-membership" class="edit-icon">
              <i class="fas fa-edit"></i>
            </a>
          </p>
          <p><strong>Subscription:</strong> {{ trainee[0].subscription }}
            <a href="/trainee-membership" class="edit-icon">
              <i class="fas fa-edit"></i>
            </a>
          </p>
        </div>

        <img [src]="trainee[0].srcImg" alt="Trainee Profile Picture" class="profile-img ms-auto">
      </div>
    </div>
  </div>
</div>
