.card {
  background-color: #b01d1d;
  border: none;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  margin: 500px;
  width: 300%;
}


.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
}

.card-img-wrapper {
  overflow: hidden;
  height: 200px;
  border-bottom: 5px solid #ff6207;
}

.card-img-top {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.card-img-top:hover {
  transform: scale(1.1);
}

.card-title {
  font-size: 1.8rem;
  color: #e9472a;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.card-text {
  color: #333;
  margin-bottom: 8px;
  font-size: 1rem;
}

