<div class="d-flex">
  <app-sidebar></app-sidebar>
  <div class="main">
    <div #carousel id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false">
      <div class="carousel-inner">
        <ng-container *ngFor="let group of groupedReviews; let i = index">
          <div class="carousel-item" [ngClass]="{'active': i === currentSlide}">
            <div class="container">
              <h1 class="custom-title text-center">Your Rate</h1>
              <div class="row">
                <ng-container *ngFor="let trainerReview of group">
                  <div class="card shadow-lg col-md-4 col-lg-3">
                    <div class="card-body">
                      <h5 class="card-title ">Trainer:{{ trainerReview.trainerName }}</h5>
                      <ul>
                        <li *ngFor="let review of trainerReview.reviews">
                          <h4><strong>Date:</strong> {{ review.date }}</h4>
                          <ul>
                            <li><strong>Comment:</strong> {{ review.comment }}</li>
                            <li>
                              <strong>Rating:</strong> {{ review.rate }}/5
                              <span class="star-rating">
                                <i *ngFor="let star of [].constructor(5); let j = index"
                                  class="fa"
                                  [ngClass]="j < review.rate ? 'fas fa-star' : 'far fa-star'"
                                  style="color: #ff6207;"></i>
                              </span>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
      <button id="prevBtn" class="carousel-control-prev" type="button" (click)="prevSlide()">
        <span class="carousel-control-prev-icon" aria-hidden="true" style="background-color:#ff6207; width: 50px; height: 50px;"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button id="nextBtn" class="carousel-control-next" type="button" (click)="nextSlide()">
        <span class="carousel-control-next-icon" aria-hidden="true" style="background-color:#ff6207; width: 50px; height: 50px;"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>





