<div class="d-flex">
  <app-sidebar></app-sidebar>
  <div class="main">
    <div class="child d-flex flex-column align-items-center text-center">
      <h1>CHOOSE YOUR MEMBERSHIP</h1>
      <div class="membership-options d-flex justify-content-around w-100 mt-4">
        <div class="vip p-4">
          <h2>VIP</h2>
          <div class="pricing-option mb-3">
            <h5>Yearly</h5>
            <p>Price: EGP 5000</p>
            <button class="btn">Subscribe</button>
          </div>
          <div class="pricing-option mb-3">
            <h5>Monthly</h5>
            <p>Price: EGP 700</p>
            <button class="btn">Subscribe</button>
          </div>
          <div class="pricing-option">
            <h5>Weekly</h5>
            <p>Price: EGP 200</p>
            <button class="btn">Subscribe</button>
          </div>
        </div>
        <div class="normal p-4">
          <h2>Normal</h2>
          <div class="pricing-option mb-3">
            <h5>Yearly</h5>
            <p>Price: EGP 3000</p>
            <button class="btn">Subscribe</button>
          </div>
          <div class="pricing-option mb-3">
            <h5>Monthly</h5>
            <p>Price: EGP 500</p>
            <button class="btn">Subscribe</button>
          </div>
          <div class="pricing-option">
            <h5>Weekly</h5>
            <p>Price: EGP 150</p>
            <button class="btn">Subscribe</button>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
