<div class="sidebar w-20" >
  <nav>
    <ul>
      <li><a routerLink="/trainee-goal">Goals</a></li>
      <li><a routerLink="/membership">Membership</a></li>
      <li><a routerLink="/subscription">Subscription & Payment</a></li>
      <li><a routerLink="/classes">Classes</a></li>
      <li><a routerLink="/equipment">Equipment</a></li>
      <li><a routerLink="/attendance">Attendance</a></li>
      <li><a routerLink="/reports">Reports</a></li>
      <li><a routerLink="/vouchers">Vouchers</a></li>
      <li><a routerLink="/reviews">Reviews</a></li>
    </ul>
  </nav>
</div>
