<div class="sidebar w-20">
  <nav>
    <ul>
      <li><a routerLink="/trainee-profile" (click)="profile()">Profile</a></li>
      <li><a routerLink="/trainee-goal">Goals</a></li>
      <li><a routerLink="/trainee-membership" (click)="membership()">Membership</a></li>
      <li class="dropdown">
        <a (click)="toggleDropdownClass()">Classes</a>
        <ul class="dropdown-content" [class.show]="dropdownOpenClass">
          <li><a (click)="classes()">All Classes</a></li>
          <li><a (click)="myClasses()">My Class</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a routerLink="/trainee-showReviews" (click)="toggleDropdownReview()">Reviews</a>
        <ul class="dropdown-content" [class.show]="dropdownOpenReview">
          <li><a routerLink="/trainee-doReview" (click)="trainers()">Do Review</a></li>
          <li><a routerLink="/trainee-showReviews">Show Reviews</a></li>
        </ul>
      </li>

      <!-- <li><a routerLink="/equipment">Equipment</a></li> -->
      <li><a (click)="attendance()">Attendance</a></li>
      <li><a routerLink="/trainee-showReport">Reports</a></li>
      <!-- <li><a routerLink="/vouchers">Vouchers</a></li> -->
    </ul>
  </nav>
</div>