<div class="d-flex">
  <app-sidebar></app-sidebar>
  <div class="main">
    <div #carousel id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false">
      <div class="carousel-inner">
        <ng-container *ngFor="let group of groupedTrainers; let i = index">
          <div class="carousel-item" [ngClass]="{'active': i === currentSlide}">
            <div class="container">
              <h1 class="custom-title text-center">Rate Your Trainer</h1>
              <!-- Alerts -->
              <div *ngIf="errorMessage" class="alert alert-danger">
                {{ errorMessage }}
              </div>
              <div class="row">
                <ng-container *ngFor="let trainer of group">
                  <div class="card shadow-lg col-md-4 col-lg-3">
                    <div class="card-img-wrapper">
                      <img [src]="trainer.moreTrainerData.image" class="card-img" [alt]="trainer.moreTrainerData.name">
                    </div>
                    <div class="card-body">
                      <p class="card-text" style="display: none;" #userId>{{ trainer.moreTrainerData.id ? trainer.moreTrainerData.id : 0}}
                      </p>
                      <h5 class="card-title mb-3">{{ trainer.moreTrainerData.name }}</h5>
                      <a href="javascript:void(0)" class="mt-3" (click)="toggleReview(trainer)">
                        {{ trainer.showReview ? 'Hide Review' : 'Show Review' }}
                      </a>
                      <div *ngIf="trainer.showReview && trainer.review && trainer.review.length > 0" class="mt-3">
                        <ul>
                          <li *ngFor="let review of trainer.review">
                            <h4><strong>Date:</strong> {{ review.created_at }}</h4>
                            <ul>
                              <li><strong>Comment:</strong> {{ review.comments? review.comments: 'No Comment'}}</li>
                              <li>
                                <strong>Rating:</strong> {{ review.rating}}/5
                                <span class="star-rating">
                                  <i *ngFor="let star of [].constructor(5); let j = index" class="fa"
                                    [ngClass]="j < review.rating ? 'fas fa-star' : 'far fa-star'"
                                    style="color: #ff6207;"></i>
                                </span>
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                      <div class="mt-3">
                        <h6>Add Review:</h6>
                        <div>
                          <label for="comment{{trainer.user_id}}">Comment:</label>
                          <input id="comment{{trainer.user_id}}" #commentInput type="text" class="form-control">
                        </div>

                        <!-- Rating Input -->
                        <div class="mt-2">
                          <label for="rate{{trainer.user_id}}">Rating (1-5):</label>
                          <input id="rate{{trainer.user_id}}" #rateInput type="number" min="1" max="5"
                            class="form-control">
                          <!-- validMessages -->
                          <div *ngIf="reviewErrorMessages[trainer.user_id]" class="alert alert-danger mt-2">
                            {{ reviewErrorMessages[trainer.user_id] }}
                          </div>
                          <div *ngIf="validMessages[trainer.user_id]" class="alert alert-success mt-2">
                            {{ validMessages[trainer.user_id] }}
                          </div>
                        </div>
                        <button class="btn  mt-3"
                          (click)="addReview(userId.textContent, commentInput.value, rateInput.value)">Submit
                          Review</button>
                      </div>
                      <!-- <div *ngIf="trainer.showReview && trainer.Reviews.length > 0" class="mt-3">
                      <ul>
                        <li *ngFor="let review of trainer.Reviews">
                          <h4><strong>Date:</strong> {{ review.date }}</h4>
                          <ul>
                            <li><strong>Comment:</strong> {{ review.comment }}</li>
                            <li>
                              <strong>Rating:</strong> {{ review.rate }}/5
                              <span class="star-rating">
                                <i *ngFor="let star of [].constructor(5); let j = index"
                                  class="fa"
                                  [ngClass]="j < review.rate ? 'fas fa-star' : 'far fa-star'"
                                  style="color: #ff6207;"></i>
                              </span>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </div> -->
                      <!-- <div class="mt-3">
                      <h6>Add Review:</h6>
                      <div>
                        <label for="comment-{{trainer.name}}">Comment:</label>
                        <input id="comment-{{trainer.name}}" type="text" [(ngModel)]="trainer.tempReview.comment" class="form-control">
                      </div>
                      <div class="mt-2">
                        <label for="rate-{{trainer.name}}">Rating (1-5):</label>
                        <input id="rate-{{trainer.name}}" type="number" min="1" max="5" [(ngModel)]="trainer.tempReview.rate" class="form-control">
                        <div *ngIf="(trainer.tempReview.rate > 5 || trainer.tempReview.rate < 1)" class="text-danger mt-2">
                          Rating must be between 1 and 5.
                        </div>
                      </div>
                      <button class="btn btn-primary mt-3" (click)="addReview(trainer)">Submit Review</button>
                    </div> -->
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
      <button id="prevBtn" class="carousel-control-prev" type="button" (click)="prevSlide()">
        <span class="carousel-control-prev-icon" aria-hidden="true"
          style="background-color:#ff6207; width: 50px; height: 50px;"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button id="nextBtn" class="carousel-control-next" type="button" (click)="nextSlide()">
        <span class="carousel-control-next-icon" aria-hidden="true"
          style="background-color:#ff6207; width: 50px; height: 50px;"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>