<img src="/No Gym, No Problem.jfif" style="width: 100%; height: 1000px; z-index: -1;">

                                      <!-- home -->

<div class="content" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1; color:white; text-align: center;">
  <h1 style="font-size: 3rem; font-weight: bold; color:#ff6207;">GYM MASTER</h1>
  <p style="font-size: 3rem; font-weight: bold;">WORK HARDER, GET STRONGER</p>
</div>
<div>

                            <!-- about -->

<h2  class="d-flex justify-content-center m-5" style="color:#ff6207;">Choose Program</h2>
<div class="container">
  <div class="row">
    <div class="col-md-6 mb-4">
      <div class="card" style="width: 100%;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/features-first-icon.png" class="img-fluid rounded-start" alt="Strength Training" width="200px" height="200px">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Strength Training</h5>
              <p class="card-text">Strength training focuses on increasing muscle strength and mass through weight lifting and resistance exercises. This includes exercises like squats, deadlifts, and bench presses, aiming to improve overall physical strength and enhance the ability to perform daily activities more effectively.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-4">
      <div class="card" style="width: 100%;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/features-first-icon.png" class="img-fluid rounded-start" alt="Strength Training" width="200px" height="200px">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"> Cardio</h5>
              <p class="card-text">
                Cardio exercises focus on improving cardiovascular health by increasing the heart rate. This includes activities like running, cycling, and swimming.
                The goal is to boost physical endurance, enhance circulation, and help maintain a healthy weight.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-4">
      <div class="card" style="width: 100%;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/features-first-icon.png" class="img-fluid rounded-start" alt="Strength Training" width="200px" height="200px">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Flexibility & Mobility</h5>
              <p class="card-text">
                Flexibility and mobility exercises focus on improving the range of motion of joints and muscles. This includes stretching, yoga, and balance exercises. These exercises help reduce the risk of injury, improve movement, and increase overall physical comfort.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-4">
      <div class="card" style="width: 100%;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/features-first-icon.png" class="img-fluid rounded-start" alt="Strength Training" width="200px" height="200px">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Recovery & Rehabilitation</h5>
              <p class="card-text">
                Recovery and rehabilitation focus on helping the body recover after intense workouts or injuries.
                This includes activities like massage, relaxation exercises, and gentle stretching.
                The aim is to restore strength and flexibility,alleviate pain, and improve overall performance.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

                        <!-- img with qoute -->
<div style="position: relative;">
  <img src="/d1efdba923702381cf8229aae885c579.jpg" style="width: 100%; height: 700px; z-index: -1;">
  <div class="content" style="position: absolute; top: 400px ;left: 50%; transform: translate(-50%, -50%); z-index: 1; color:white; text-align: center;">
    <h1 style="font-size: 3rem; font-weight: bold; color:white;">Fitness is not about being better than someone else. It’s about being better than you used to be.</h1>
  </div>
</div>



                        <!-- schedual -->
<div class="container">
  <h2 class="text-center m-5" style="color:#ff6207;">Gym Weekly Schedule</h2>
  <table class="table table-bordered">
      <thead class="thead-dark">
          <tr>
              <th>Day</th>
              <th colspan="3">Classes</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>Sunday</td>
              <td>
                <p>Yoga</p>
                <p>John Doe</p>
                <p>9:00 AM - 10:00 AM</p>
              </td>

              <td>
                <p>Pilates</p>
                <p>Sarah Lee</p>
                <p> 11:00 AM - 12:00 PM:</p>
              </td>
              <td>
                <p>Pilates</p>
                <p>Sarah Lee</p>
                <p> 11:00 AM - 12:00 PM:</p>
              </td>

              <!-- <td>1:00 PM - 2:00 PM: HIIT (Anna White)</td> -->
          </tr>
          <tr>
              <td>Monday</td>
              <!-- <td>8:00 AM - 9:00 AM: Cardio (Jane Smith)</td>
              <td>10:00 AM - 11:00 AM: CrossFit (Chris Green)</td>
              <td>5:00 PM - 6:00 PM: Boxing (David Brown)</td> -->
              <td>
                <p>Yoga</p>
                <p>John Doe</p>
                <p>9:00 AM - 10:00 AM</p>
              </td>

              <td>
                <p>Pilates</p>
                <p>Sarah Lee</p>
                <p> 11:00 AM - 12:00 PM:</p>
              </td>
              <td>
                <p>Pilates</p>
                <p>Sarah Lee</p>
                <p> 11:00 AM - 12:00 PM:</p>
              </td>
          </tr>
          <tr>
              <td>Tuesday</td>
              <!-- <td>7:00 AM - 8:00 AM: Strength Training (Mike Johnson)</td>
              <td>9:00 AM - 10:00 AM: Yoga (John Doe)</td>
              <td>6:00 PM - 7:00 PM: Zumba (Emily Clark)</td> -->
              <td>
                <p>Yoga</p>
                <p>John Doe</p>
                <p>9:00 AM - 10:00 AM</p>
              </td>

              <td>
                <p>Pilates</p>
                <p>Sarah Lee</p>
                <p> 11:00 AM - 12:00 PM:</p>
              </td>
              <td>
                <p>Pilates</p>
                <p>Sarah Lee</p>
                <p> 11:00 AM - 12:00 PM:</p>
              </td>
          </tr>
          <tr>
              <td>Wednesday</td>
              <!-- <td>6:00 AM - 7:00 AM: Spinning (Olivia Martinez)</td>
              <td>9:00 AM - 10:00 AM: Pilates (Sarah Lee)</td>
              <td>7:00 PM - 8:00 PM: HIIT (Anna White)</td> -->

              <td>
                <p>Yoga</p>
                <p>John Doe</p>
                <p>9:00 AM - 10:00 AM</p>
              </td>

              <td>
                <p>Pilates</p>
                <p>Sarah Lee</p>
                <p> 11:00 AM - 12:00 PM:</p>
              </td>
              <td>
                <p>Pilates</p>
                <p>Sarah Lee</p>
                <p> 11:00 AM - 12:00 PM:</p>
              </td>
          </tr>
          <tr>
              <td>Thursday</td>
              <!--
              <td>8:00 AM - 9:00 AM: Cardio (Jane Smith)</td>
              <td>1:00 PM - 2:00 PM: CrossFit (Chris Green)</td>
              <td>4:00 PM - 5:00 PM: Boxing (David Brown)</td> -->
              <td>
                <p>Yoga</p>
                <p>John Doe</p>
                <p>9:00 AM - 10:00 AM</p>
              </td>

              <td>
                <p>Pilates</p>
                <p>Sarah Lee</p>
                <p> 11:00 AM - 12:00 PM:</p>
              </td>
              <td>
                <p>Pilates</p>
                <p>Sarah Lee</p>
                <p> 11:00 AM - 12:00 PM:</p>
              </td>
          </tr>
          <tr>
              <td>Friday</td>
              <!-- <td>10:00 AM - 11:00 AM: Yoga (John Doe)</td>
              <td>3:00 PM - 4:00 PM: Strength Training (Mike Johnson)</td>
              <td>5:00 PM - 6:00 PM: Zumba (Emily Clark)</td> -->
              <td>
                <p>Yoga</p>
                <p>John Doe</p>
                <p>9:00 AM - 10:00 AM</p>
              </td>

              <td>
                <p>Pilates</p>
                <p>Sarah Lee</p>
                <p> 11:00 AM - 12:00 PM:</p>
              </td>
              <td>
                <p>Pilates</p>
                <p>Sarah Lee</p>
                <p> 11:00 AM - 12:00 PM:</p>
              </td>
          </tr>
          <tr>
              <td>Saturday</td>
              <!-- <td>9:00 AM - 10:00 AM: Spinning (Olivia Martinez)</td>
              <td>11:00 AM - 12:00 PM: Pilates (Sarah Lee)</td>
              <td>2:00 PM - 3:00 PM: HIIT (Anna White)</td> -->
              <td>
                <p>Yoga</p>
                <p>John Doe</p>
                <p>9:00 AM - 10:00 AM</p>
              </td>

              <td>
                <p>Pilates</p>
                <p>Sarah Lee</p>
                <p> 11:00 AM - 12:00 PM:</p>
              </td>
              <td>
                <p>Pilates</p>
                <p>Sarah Lee</p>
                <p> 11:00 AM - 12:00 PM:</p>
              </td>

          </tr>
      </tbody>
  </table>
</div>


                        <!-- img with qoute -->
<div style="position: relative;">
  <img src="/76c76a7a19d36104ad013fe959f5f8ef.jpg" style="width: 100%; height: 700px; z-index: -1;" class="mt-5">
  <div class="content" style="position: absolute; top: 400px ;left: 50%; transform: translate(-50%, -50%); z-index: 1; color:white; text-align: center;">
    <h1 style="font-size: 3rem; font-weight: bold; color:white">Every workout is progress, no matter how small.</h1>
  </div>
</div>


                                <!-- Classes -->

<h2  class="d-flex justify-content-center m-5  " style="color:#ff6207; font-size: 3rem; font-weight: bold;">Our Classes</h2>
<div class="container">
  <div class="row">
    <div class="col-md-6 mb-4">
      <div class="card" style="width: 100%;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/tabs-first-icon.png" class="img-fluid rounded-start" alt="Strength Training" width="100px" height="100px">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Strength Training</h5>
              <p class="card-text">Strength training focuses on increasing muscle strength and mass through weight lifting and resistance exercises. This includes exercises like squats, deadlifts, and bench presses, aiming to improve overall physical strength and enhance the ability to perform daily activities more effectively.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-4">
      <div class="card" style="width: 100%;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/tabs-first-icon.png" class="img-fluid rounded-start" alt="Strength Training" width="200px" height="200px">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"> Cardio</h5>
              <p class="card-text">
                Cardio exercises focus on improving cardiovascular health by increasing the heart rate. This includes activities like running, cycling, and swimming.
                The goal is to boost physical endurance, enhance circulation, and help maintain a healthy weight.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-4">
      <div class="card" style="width: 100%;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/features-first-icon.png" class="img-fluid rounded-start" alt="Strength Training" width="200px" height="200px">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Flexibility & Mobility</h5>
              <p class="card-text">
                Flexibility and mobility exercises focus on improving the range of motion of joints and muscles. This includes stretching, yoga, and balance exercises. These exercises help reduce the risk of injury, improve movement, and increase overall physical comfort.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-4">
      <div class="card" style="width: 100%;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/features-first-icon.png" class="img-fluid rounded-start" alt="Strength Training" width="200px" height="200px">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Recovery & Rehabilitation</h5>
              <p class="card-text">
                Recovery and rehabilitation focus on helping the body recover after intense workouts or injuries.
                This includes activities like massage, relaxation exercises, and gentle stretching.
                The aim is to restore strength and flexibility,alleviate pain, and improve overall performance.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


