
<div class="sidebar w-20" >
  <nav>
    <ul>
                        <!-- Trainers -->
      <li class="dropdown">
        <a (click)="trainers()" (click)="toggleDropdownTrainers()">Trainers</a>
        <ul class="dropdown-content" [class.show]="dropdownOpenTrainers">
          <li><a (click)="trainers()">All Trainers</a></li>
          <li><a routerLink="/admin-addTrainer">Add Trainer</a></li>
        </ul>
      </li>
                        <!-- Trainees -->
      <li><a (click)="trainees()">Trainees</a></li>
                        <!-- classes -->
      <li class="dropdown">
        <a routerLink="/admin-allClasses" (click)="toggleDropdownClasses()">Classes</a>
        <ul class="dropdown-content" [class.show]="dropdownOpenClasses">
          <li><a routerLink="/admin-allClasses">All Classes</a></li>
          <li><a  (click)="addClass()">Add Class</a></li><!--routerLink="/admin-addClass"-->
        </ul>
      </li>
      <!-- memberhip -->
      <li class="dropdown">
        <a (click)="toggleDropdownMembership()">Membership</a>
        <ul class="dropdown-content" [class.show]="dropdownOpenMembership">
          <li><a routerLink="/admin-membership">All Membership</a></li>
          <li><a routerLink="/admin-addMembership">Add Membership</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a (click)="toggleDropdownAttendance()">Attendance</a>
        <ul class="dropdown-content" [class.show]="dropdownOpenAttendance">
          <li><a routerLink="/admin-trainees-attendance" > Trainees Attendance</a></li>
          <li><a routerLink="/admin-trainers-attendance">Trainers Attendance</a></li>
        </ul>
      </li>
      <li><a (click)="allReports()">Reports</a></li>


      <!-- <li><a routerLink="/equipment">Equipment</a></li>
      <li><a routerLink="/trainee-attendance">Attendance</a></li>
      <li><a routerLink="/trainee-showReport">Reports</a></li>
      <li><a routerLink="/vouchers">Vouchers</a></li> -->
    </ul>
  </nav>
</div>
