<div class=".d-flex">
  <app-admin-sidebar></app-admin-sidebar>
  <!-- <img src="/form4.jpg" alt="Background Image"> -->
  <div class="main">
  <div class="edit-container">
    <!-- Edit Class Information -->
    <form (ngSubmit)="save()" class="form form-background" >
      <h2>Edit Class</h2>

      <div class="form-group">
        <label for="className">Class Name:</label>
        <input id="className" type="text" [(ngModel)]="className" name="className" class="form-control">
      </div>

      <div class="form-group">
        <label for="trainerName">Trainer Name:</label>
        <input id="trainerName" type="text" [(ngModel)]="trainerName" name="trainerName" class="form-control">
      </div>

      <div class="form-group">
        <label for="sessions">Number of Sessions:</label>
        <input id="sessions" type="number" [(ngModel)]="sessions" name="sessions" class="form-control">
      </div>

      <div class="form-group">
        <label for="status">Status:</label>
        <select id="status" [(ngModel)]="status" name="status" class="form-control">
          <option value="active">Active</option>
          <option value="inactive">Inactive</option>
        </select>
      </div>

         <!-- Session Information -->
         <h5 class="mt-2">Sessions</h5>
         <div *ngFor="let group of groups; let i = index" class="mb-3 border p-3 rounded bg-light shadow-sm">
           <h6 class="text-secondary">Session {{ i + 1 }}</h6>

           <!-- Days control -->
           <label for="groupDays{{ i }}">Days (Session {{ i + 1 }}):</label>
           <select id="groupDays{{ i }}" [(ngModel)]="group.days" name="groupDays{{i}}" class="form-control" #dayField="ngModel" required>
             <option value="" disabled selected>Select a day</option>
             <option *ngFor="let day of days" [value]="day">{{ day }}</option>
           </select>

          <!-- Start Date control -->
          <label for="groupDate{{ i }}">Date (Session {{ i + 1 }}):</label>
          <input id="groupDate{{ i }}" type="date" [(ngModel)]="group.date" name="groupDate{{i}}" class="form-control">

           <!-- Start Hour control -->
           <label for="groupStartHour{{ i }}">Start Hour (Session {{ i + 1 }}):</label>
           <input id="groupStartHour{{ i }}" type="time" [(ngModel)]="group.startHour" name="groupStartHour{{i}}" #startHourField="ngModel" class="form-control">

           <!-- End Hour control -->
           <label for="groupEndHour{{ i }}">End Hour (Session {{ i + 1 }}):</label>
           <input id="groupEndHour{{ i }}" type="time" [(ngModel)]="group.endHour" name="groupEndHour{{i}}" #endHourField="ngModel" class="form-control">


            <!-- Validation for Start Hour before End Hour -->
              <div *ngIf="!validateHours(group.startHour, group.endHour) && (startHourField.touched || endHourField.touched)" class="text-danger">
                <small>Start Hour must be before End Hour.</small>
              </div>
         </div>

        <!-- Class Description -->
        <div class="form-group">
          <label for="description">Description:</label>
          <textarea id="description" [(ngModel)]="description" name="description" class="form-control" rows="5"></textarea>
        </div>

        <div class="d-flex justify-content-start">
          <!-- Equipment Information -->
          <div class="row col-6">
            <div class="form-group m-5">
              <label for="equipment">Equipment Name:</label>
              <div *ngFor="let item of equipment">
                <input
                  type="checkbox"
                  [id]="item"
                  [value]="item"
                  [(ngModel)]="selectedEquipment[item]"
                  name="equipment-{{item}}"
                  class="form-check-input">
                <label [for]="item" class="form-check-label">{{ item }}</label>
              </div>
            </div>
          </div>
          <!-- Equipment Exercise -->
          <div class="row col-6">
            <div class="form-group m-5">
              <label for="exercise">Exercise:</label>
              <div *ngFor="let exercise of exerciseList">
                <input
                  type="checkbox"
                  [id]="exercise"
                  [value]="exercise"
                  [(ngModel)]="selectedExercises[exercise]"
                  name="exercise-{{exercise}}"
                  class="form-check-input">
                <label [for]="exercise" class="form-check-label">{{ exercise }}</label>
              </div>
            </div>
          </div>
        </div>

      <!-- Save and Cancel Buttons -->
      <div class="text-center">

      <button type="submit" class="btn mt-2">Save</button>
      <button type="button" class="btn mt-2" (click)="cancel()">Cancel</button>
      </div>
    </form>
  </div>
  </div>
</div>




