.title {
    color: #ff6207;
    font-size: 3rem;
    font-weight: bold
}

.lnk {
    color: #ff6207;
}

.form {
    width: 50%;
    margin: auto;
    margin-top: 170px;
    margin-bottom: 70px;
}
img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.form-background {
  position: relative;
  top: auto;
  left: auto;
  transform: none;
  background-color: rgba(255, 255, 255, .9);
  border-radius: 10px;
}
