<img src="/form4.jpg" alt="Background Image">
<form [formGroup]="resetPasswordForm" (ngSubmit)="resetPasswordAction()" class="form form-background">
    <h1 class="title d-flex justify-content-center">Reset Password</h1>
    <div class="form-group">
        <label for="newPassword" class="mt-3">New Password</label>
        <div class="input-group">
            <input formControlName="newPassword" type="password" class="form-control" id="newPassword"
                name="newPassword" placeholder="New Password">
            <div class="input-group-append">
                <span class="input-group-text" id="togglePassword" style="cursor:pointer;" (click)="showPassword()">
                    <i class="far fa-eye" id="eyeIcon"></i>
                </span>
            </div>
        </div>
        @if (newPasswordRequired){
        <div class="error-msg">
            Password is required
        </div>
        } @else if (newPasswordFormatInvalid){
        <div class="error-msg">
            Enter a valid password
        </div>
        }
        <label for="confirmPassword" class="mt-3">Confirm Password</label>
        <div class="input-group">
            <input formControlName="confirmPassword" type="password" class="form-control" id="confirmPassword"
                name="confirmPassword" placeholder="Confirm Password">
            <span class="input-group-text" id="toggleConfirmPassword" style="cursor:pointer;"
                (click)="showPassword('confirmPassword')">
                <i class="far fa-eye" id="confirmEyeIcon"></i>
            </span>
        </div>

        @if (!resetPasswordForm.valid && formSubmitted) {
        <div class="alert alert-danger mt-3">
            Enter valid data
        </div>
        }
        @if (errorMessage){
        <div class="alert alert-danger  mt-3">
            {{ errorMessage }}
        </div>
        }
        <div class="d-flex justify-content-center mt-3">
            <button type="submit" class="btn">Reset Password</button>
        </div>
    </div>
</form>