<img src="/form4.jpg" alt="Background Image">
<form [formGroup]="loginForm" (ngSubmit)="loginAction()" class="form form-background w-75">
    <h1 class="title d-flex justify-content-center">Login</h1>
    @if (!loginForm.valid && formSubmitted) {
    <div class="alert alert-danger">
        Enter valid data
    </div>
    }
    <div class="form-group">
        <label for="email" class="w-25">Email address</label>
        <input formControlName="email" type="email" class="form-control w-75 m-auto" id="email" name="email"
            placeholder="Enter email">
        @if (emailRequired){
        <div class="error-msg">
            Email is required
        </div>
        } @else if (emailFormatInvalid){
        <div class="error-msg">
            Enter a valid email
        </div>
        }
        <label for="password" class="w-25 mt-3">Password</label>
        <input formControlName="password" type="password" class="form-control w-75 m-auto" id="password" name="password"
            placeholder="Password">
        @if (passwordRequired){
        <div class="error-msg">
            Password is required
        </div>
        } @else if (passwordFormatInvalid){
        <div class="error-msg">
            Enter a valid password
        </div>
        }
        <div class="d-flex justify-content-center mt-3">
            <button type="submit" class="btn">Login</button>
        </div>
        <div class="d-flex justify-content-center mt-3">
            <div class="me-3">Forgot your password? <a routerLink="/forgotPassword" class="lnk mt-5">Click here</a>
            </div>
            <div>You don't have an account? <a routerLink="/registration" class="lnk">Sign up</a></div>
        </div>
    </div>
</form>
