<div class="container d-flex">
    <form [formGroup]="emailVerificationForm" (ngSubmit)="sendEmail()" class="form form-background">
        <div class="image-container">
            <img src="/emailVerification.webp" alt="Forgot Password Image" class="forgot-password-image">
        </div>
        <h1 class="title d-flex justify-content-center">Verify your email address</h1>
        <p>
            Kindly verify your email to complete your account registration.
        </p>
        
            @if(successMessage){
            <div class="success-message">
                {{ successMessage }}
            </div>
            }
            @else if (errorMessage){
            <div class="alert alert-danger  mt-3">
                {{ errorMessage }}
            </div>
            }
            <div class="d-flex justify-content-center mt-3">
                <button type="submit" class="btn">Verify</button>
            </div>
        </div>
    </form>
</div>