<img src="/background5.jpg" alt="Background Image">

<div class="d-flex">
    <app-admin-sidebar></app-admin-sidebar>
    <div class="main">
        <ng-container *ngFor="let group of groupedTrainees; let i = index">
            <div class="carousel-item" [ngClass]="{'active': i === currentSlide}">
                <div class="container mt-5">
                    <h1>Trainees Attendance</h1>
                    <table class="custom-table table-bordered">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th class="actions-column">Actions</th>
                                <th>History</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let traineeAttendance of group; trackBy: trackById">
                                <tr>
                                    <td>{{ traineeAttendance.name }}</td>
                                    <td style="display: none;">{{ traineeAttendance.id }}</td>
                                    <td>
                                        <button class="btn " (click)="checkIn(traineeAttendance)">In</button>
                                        <button class="btn " (click)="checkOut(traineeAttendance)">Out</button>
                                        <div *ngIf="traineeAttendance.message" class="message">
                                            {{traineeAttendance.message }}</div>
                                        <div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
                                    </td>

                                    <td>
                                        <!-- <button class="btn" [routerLink]="['/admin-history-attendance', traineeAttendance.id]">History</button> -->
                                        <button class="btn"
                                            (click)="getAttendanceHistory(traineeAttendance.id)">History</button>
                                            <div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                    <div class="buttons">
                        <button id="prevBtn" class="carousel-control-prev" type="button" (click)="prevSlide()">
                            <span class="carousel-control-prev-icon" aria-hidden="true"
                                style="background-color:#ff6207;"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button id="nextBtn" class="carousel-control-next" type="button" (click)="nextSlide()">
                            <span class="carousel-control-next-icon" aria-hidden="true"
                                style="background-color:#ff6207;"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>

</div>