<div class="container">
  <h1 class="text-center">Trainees In Class</h1>
<div class="row">
  <div *ngFor="let trainee of trainees; let i = index" class="card shadow-lg col-md-4 col-lg-3 ">
    <div class="card-img-wrapper">
      <img [src]="trainee.image" class="card-img" [alt]="trainee.name">
    </div>
    <div class="card-body">
      <h5 class="card-title mb-3">{{ trainee.name }}</h5>
      <p class="card-text"><strong>Trainer Name:</strong> {{ trainee.trainerName }}</p>
      <p class="card-text"><strong>Class Name:</strong> {{ trainee.className }}</p>
      <p class="card-text"><strong>Number of Sessions Attended:</strong> {{ trainee.sessionsAttended }}</p>
      <p class="card-text"><strong>Membership:</strong> {{ trainee.membership }}</p>
      <p class="card-text"><strong>Subscription:</strong> {{ trainee.subscription }}</p>



      <a href="javascript:void(0)" class="mt-3" (click)="toggleComments(i)">
        {{ trainee.showComments ? 'Hide Comments' : 'Show Comments' }}
      </a>

      <div *ngIf="trainee.showComments && trainee.comments.length > 0" class="mt-3">
        <h6>Comments:</h6>
        <ul>
          <li *ngFor="let comment of trainee.comments">
            {{ comment.text }} <br> <small><i>{{ comment.date }}</i></small>
          </li>
        </ul>
      </div>


      <div  class="mt-3">
        <input [(ngModel)]="trainee.newComment" class="form-control" placeholder="Write your comment...">
        <button class="btn btn-success mt-2" (click)="submitComment(i)">Submit Comment</button>
      </div>
    </div>
  </div>
</div>
</div>
