<div class="d-flex">
  <app-admin-sidebar></app-admin-sidebar>
  <div class="main">
    <div class="child d-flex flex-column align-items-center text-center">
      <h1>MEMBERSHIP
      </h1>
      <div class="membership-options d-flex justify-content-around w-100 mt-4 ">
        <div *ngFor="let option of membershipOptions" class="membership-option p-4">
          <h2>
            {{ option.type }}
            <a [routerLink]="['/admin-editMembership', option.id]" class="edit-icon">
              <i class="fas fa-edit mb-2" style="font-size: 20px; color: gray;  margin-bottom: 4px;"></i>
            </a>
          </h2>
          
          <div  class="pricing-option mb-3"> <!--*ngFor="let price of option.prices"-->
            <h5>{{ option.subscribe_type }}
              <!-- <i class="material-icons delete-icon" 
              style="font-size: 20px; color: gray; cursor: pointer;"
              (click)="deleteMembershipPrice(option.id, price.periodID)">delete</i> -->

              <i class="material-icons delete-icon" 
              style="font-size: 20px; color: gray; cursor: pointer;"
              (click)="deleteMembershipPrice(option.id)">delete</i>
             
            </h5>
            <p>Price: EGP {{ option.amount }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
